.orange__transparent {
    background-color: rgba(255, 128, 0, 0.5);
}

.red__transparent {
    background-color: rgba(255, 0, 0, 0.5);
}

.yellow__transparent {
    background-color: rgba(255, 255, 0, 0.5);
}
