.circle-large {
    border-radius: 50%;
    height: 12em;
    line-height: 2em;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 12em;
}

.circle-medium {
    border-radius: 50%;
    height: 8em;
    line-height: 2em;
    margin: 2em;
    position: absolute;
    text-align: center;
    width: 8em;
}

.circle-small {
    border-radius: 50%;
    height: 4em;
    line-height: 3em;
    margin: 4em;
    position: absolute;
    text-align: center;
    width: 4em;
}
