.circle-large {
    border-radius: 50%;
    height: 550px;
    line-height: 75px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 550px;
}

.circle-medium {
    border-radius: 50%;
    height: 400px;
    line-height: 75px;
    margin: 75px;
    position: absolute;
    text-align: center;
    width: 400px;
}

.circle-small {
    border-radius: 50%;
    height: 250px;
    line-height: 100px;
    margin: 150px;
    position: absolute;
    text-align: center;
    width: 250px;
}
