#app, #layout {
    height:             100%;
    width:              100%;
}

#fullpage {
    float:              left;
    height:             100%;
    width:              80%;
}

#menu-content {
    height:             100%;
    padding:            1em;
    width:              100%;
}

#toolbar {
    background:         #0064B6;
    color:              #F2F2F2;
    display:            block;
    float:              left;
    height:             100%;
    left:               0;
    overflow:           hidden;
    text-shadow:        0 0 2em black;
    width:              20%;
    z-index:            9;

    h2 {
        margin:         0;
        margin-bottom:  0.5em;
    }

    li {
        cursor:         pointer;
        font-size:      1.25em;
        margin-bottom:  0.25em;
    }

    li.selected {
        color:          #80C6FF;
    }

    ul {
        margin:         0.5em;
        margin-bottom:  0;
    }
}
